/* Centers page content */
.error-div {
  text-align: center;
  margin-top: 200px;
}

/* Styling for page label */
.error-label {
  color: rgb(163, 9, 9);
  font-size: 50px;
}

/* Styling for error message */
.error-message {
  font-size: 40px;
  margin-top: 10px;
}

/* Styling for link that directs to home page */
.home-link {
  color: rgb(29, 112, 189);
  font-size: 22px;
}

@media only screen and (min-width: 800px) {
  /* Centers page content */
  .error-div {
    margin-top: 275px;
  }

  /* Styling for page label */
  .error-label {
    font-size: 40px;
    margin-bottom: 5px;
  }

  /* Styling for error message */
  .error-message {
    font-size: 35px;
    margin-bottom: 20px;
  }
}