/* Manrope Font */
@font-face {
  src: url(/public/fonts/Manrope-VariableFont_wght.ttf);
  font-family: manrope;
}

/* Styling for all page bodies */
body {
  background-color: rgb(8, 8, 8);
  color: white;
  font-family: manrope;
}