/* Page wrapper */
.lists-wrapper {
  margin: 0 auto;
  width: 95%;
}

/* Styling for header buttons */
.lists-header-buttons {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  font-size: 17px;
  color: rgb(13, 124, 244);
}

.lists-header-buttons span:hover {
  cursor: pointer;
}

/* Styling for list entry div */
.entry-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

/* Styling for list entry link */
.entry-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  color: white;
  text-decoration: none;
  background-color: rgb(42, 38, 38);
  border-radius: 10px;
}

/* Changes cursor when hovered over the entry */
.entry:hover {
  cursor: pointer;
}

/* Changes entry color when clicked */
.entry:active {
  background-color: rgb(49, 44, 44);
}

/* Styling for entry img */
.entry-icon {
  width: 28px;
  height: 28px;
  margin: 0 12px;
}

/* Styling for entry contact count */
.entry-count {
  margin-left: auto;
  padding-right: 20px;
}

/* Styling for entry remove button */
.remove-button {
  display: none;
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.remove-button:hover {
  cursor: pointer;
}