/* Page wrapper */
.lists-wrapper {
  margin: 0 auto;
  width: 95%;
}

/* Styling for header buttons */
.lists-header-buttons {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  font-size: 17px;
  color: rgb(13, 124, 244);
}

.lists-header-buttons span:hover {
  cursor: pointer;
}

/* Styling for page header */
.lists-header {
  font-size: 32px;
}

/* Styling for list entry div */
.entry-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

/* Styling for list entry link */
.entry-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  color: white;
  text-decoration: none;
  background-color: rgb(42, 38, 38);
  border-radius: 10px;
}

/* Changes cursor when hovered over the entry */
.entry:hover {
  cursor: pointer;
}

/* Changes entry color when clicked */
.entry:active {
  background-color: rgb(49, 44, 44);
}

/* Styling for entry img */
.entry-icon {
  width: 28px;
  height: 28px;
  margin: 0 12px;
}

/* Styling for entry name */
.entry-name {
  font-size: 16px;
}

/* Styling for entry contact count */
.entry-count {
  margin-left: auto;
  padding-right: 20px;
  font-size: 16px;
}

/* Styling for entry remove button */
.remove-button {
  display: none;
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.remove-button:hover {
  cursor: pointer;
}

/* Styling for add list element */
.add-list {
  display: none;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  background-color: rgb(42, 38, 38);
  z-index: 100;
  position: fixed;
  top: 250px;
  left: 0;
  right: 0;
  width: 80%;
  height: 100px;
  border-radius: 20px;
  text-align: center;
}

/* Styling for add list input container */
.add-list-input-container {
  margin-bottom: 20px;
}

/* Styling for add list input field */
.add-list-input {
  background-color: rgb(42, 38, 38);
  width: 150px;
  height: 30px;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  color: white;
  font-size: 20px;
  text-align: center;
}

/* Styling for add list cancel and confirm buttons */
.add-list-cancel, .add-list-confirm {
  background-color: rgb(239, 238, 238);
  border: none;
  border-radius: 4px;
  height: 25px;
  width: 70px;
  font-size: 15px;
  font-weight: 500;
  font-family: manrope;
}

.add-list-cancel:hover, .add-list-confirm:hover {
  cursor: pointer;
  background-color: white;
}

.add-list-cancel {
  margin-right: 15px;
}

/* Responsive styling for 800px width */
@media only screen and (min-width: 800px) {
  /* Styling for header buttons */
  .lists-header-buttons {
    padding: 20px 0 5px;
    font-size: 40px;
    font-weight: 400;
  }

  /* Styling for page header */
  .lists-header {
    margin: 20px 0 40px;
    font-size: 55px;
  }

  /* Styling for list entry div */
  .entry-container {
    margin-bottom: 18px;
  }

  /* Styling for list entry link */
  .entry-link {
    height: 85px;
  }

  /* Styling for entry img */
  .entry-icon {
    width: 50px;
    height: 50px;
    margin: 0 20px;
  }

  /* Styling for entry name */
  .entry-name {
    font-size: 22px;
    font-weight: 500;
  }

  /* Styling for entry contact count */
  .entry-count {
    padding-right: 40px;
    font-size: 22px;
    font-weight: 500;
  }

  /* Styling for entry remove button */
  .remove-button {
    width: 50px;
    height: 50px;
    margin-left: 25px;
  }

  /* Styling for add list element */
  .add-list {
    top: 325px;
    width: 50%;
    height: 125px;
    border: solid 4px rgb(29, 27, 27);
  }

  /* Styling for add list input field */
  .add-list-input {
    width: 200px;
    height: 30px;
    font-size: 23px;
  }

  /* Styling for add list cancel and confirm buttons */
  .add-list-cancel, .add-list-confirm {
    height: 32px;
    width: 90px;
    font-size: 18px;
    font-weight: 500;
  }
}

/* Responsive styling for 1000px width */
@media only screen and (min-width: 1000px) {
  /* Page wrapper */
  .lists-wrapper {
    width: 75%;
  }
}

/* Responsive styling for 1200px width */
@media only screen and (min-width: 1200px) {
  /* Page wrapper */
  .lists-wrapper {
    width: 65%;
  }
}

/* Responsive styling for 1400px width */
@media only screen and (min-width: 1400px) {
  /* Page wrapper */
  .lists-wrapper {
    width: 55%;
  }
}