/* Styling for page container */
.search-container {
  display: flex;
  align-items: center;
  text-align: center;
  height: 35px;
  margin: 10px 0 30px 0;
  background-color: rgb(29, 26, 26);
  border-radius: 8px;
}

/* Styling for search icon img */
.search-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px 0 10px;
  position: relative;
  top: 1px;
}

/* Styling for the input field */
.search-field {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
  color: white;
  font-family: manrope;
  font-size: 16px;
}