/* Styling for current contact element container */
.current-contact {
  display: flex;
  flex-direction: column;
  background-color: rgb(8, 8, 8);
  z-index: 100;
  position: absolute;
  left: 0;
  right: 0;
  height: 98%;
}

/* Styling for current contact header */
.current-contact-header {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 400;
  padding: 12px 20px 25px;
}

/* Styling for current contact header buttons */
.current-back, .current-edit {
  color: rgb(13, 124, 244);
}

.current-back:hover, .current-edit:hover {
  cursor: pointer;
}

/* Styling for current contact picture div */
.current-contact-pfp {
  margin: -25px auto 0;
}

/* Styling for current contact picture */
.current-contact-pfp img {
  width: 100px;
  height: 100px;
  border-radius: 70px;
}

/* Styling for current contact name & company container */
.current-name-company-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

/* Styling for current contact name */
.current-name {
  font-size: 25px;
}

/* Styling for current contact company */
.current-company {
  font-size: 15px;
  color: gray;
}

/* Styling for current contact information containers */
.current-info-div {
  padding: 0 20px;
  margin-bottom: 15px;
}

/* Styling for the contents within the current contact info containers */
.current-info-contents {
  display: flex;
  flex-direction: column;
  background-color: rgb(37, 40, 43);
  padding: 8px 18px;
  border-radius: 7px;
}

/* Styling for current contact info labels */
.current-info-label {
  font-size: 15px;
  font-weight: 300;
}

/* Styling for current contact info */
.current-info {
  color: rgb(13, 124, 244);
  font-size: 15px;
}

/* Styling for current contact birthday */
.current-birthday {
  color: rgb(13, 124, 244);
  background-color: rgb(37, 40, 43);
  border: none;
  outline: none;
  margin-left: -5px;
  font-size: 15px;
}

/* Styling for current conntact note */
.current-note {
  padding-bottom: 30px;
  font-size: 15px;
  font-weight: 300;
}

/* Styling for current contact delete button div */
.current-delete-div {
  display: flex;
  flex-direction: column;
}

/* Styling for current contact delete button */
.delete-contact {
  margin: 0px 20px 15px;
  height: 45px;
  color: red;
  background-color: rgb(37, 40, 43);
  border: none;
  border-radius: 7px;
  font-size: 17px;
  font-weight: 500;
}

.delete-contact:hover {
  cursor: pointer;
}

.delete-contact:active {
  background-color: rgb(44, 48, 52);
}

@media only screen and (min-width: 800px) {
  /* Styling for current contact header */
  .current-contact-header {
    font-size: 27px;
    padding: 20px 80px 25px;
  }

  /* Styling for current contact picture */
  .current-contact-pfp img {
    width: 130px;
    height: 130px;
    border-radius: 100px;
  }

  /* Styling for current contact name */
  .current-name {
    font-size: 27px;
  }

  /* Styling for current contact company */
  .current-company {
    font-size: 19px;
  }

  /* Styling for current contact information containers */
  .current-info-div {
    margin: 0 auto 18px;
    width: 65%;
    max-width: 602.48px;
  }

  /* Styling for the contents within the current contact info containers */
  .current-info-contents {
    padding: 9px 18px;
  }
  
  /* Styling for current contact info labels */
  .current-info-label {
    font-size: 16px;
  }

  /* Styling for current contact info */
  .current-info {
    font-size: 18px;
  }

  /* Styling for current contact birthday */
  .current-birthday {
    font-size: 18px;
  }

  /* Styling for current conntact note */
  .current-note {
    font-size: 18px;
  }

  /* Styling for current contact delete button */
  .delete-contact {
    width: 65%;
    height: 55px;
    margin: 0 auto 35px;
    font-size: 19px;
  }
}

/* Responsive styling for 1000px width */
@media only screen and (min-width: 1000px) {
  /* Styling for current contact element container */
  .current-contact {
    margin: 0 auto;
    width: 75%;
  }
}

/* Responsive styling for 1200px width */
@media only screen and (min-width: 1200px) {
  /* Styling for current contact element container */
  .current-contact {
    width: 65%;
  }
}

/* Responsive styling for 1400px width */
@media only screen and (min-width: 1400px) {
  /* Styling for current contact element container */
  .current-contact {
    width: 55%;
  }
}