.contact-wrapper {
  margin: 0 auto;
  width: 95%;
}

.contact-header-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.contact-header-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contact-header {
  background-color: black;
  border: none;
  color: white;
  font-family: manrope;
  font-size: 40px;
  width: 180px;
  height: 40px;
  padding: 4px;
}

.edit-button {
  width: 30px;
  height: 30px;
  margin-right: 12px;
}

.edit-button:hover {
  cursor: pointer;
}

.list-link {
  color: rgb(13, 124, 244);
  display: contents;
  font-size: 20px;
}

.add-contact {
  width: 35px;
  height: 35px;
}

.add-contact:hover {
  cursor: pointer;
}

.contacts {
  display: flex;
  flex-direction: column;
}

.alphabet-category {
  font-weight: 600;
  padding-bottom: 2px;
  color: rgb(137, 137, 137);
  border-bottom: solid rgba(93, 90, 90, 0.66) 0.5px;
}

.contact-entry {
  padding: 8px 0;
  border-bottom: solid rgb(93, 90, 90, 0.66) 0.5px;
}
