/* Hides drop down arrow from select menu */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* Wrapper for page */
.contact-wrapper {
  margin: 0 auto;
  width: 95%;
}

/* Styling for top part of contact page */
.contact-top {
  background-color: rgb(8, 8, 8);
  position: sticky;
  top: 0;
}

/* Styling for header buttons div */
.contact-header-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

/* Styling for list page link */
.list-link {
  color: rgb(13, 124, 244);
  display: contents;
  font-size: 20px;
}

/* Styling for "add contact" button */
.add-contact-img {
  width: 35px;
  height: 35px;
}

.add-contact-img:hover {
  cursor: pointer;
}

/* Styling for header edit button */
.edit-button {
  width: 30px;
  height: 30px;
  margin-right: 12px;
}

.edit-button:hover {
  cursor: pointer;
}

/* Styling for header div */
.contact-header-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Styling for header */
.contact-header {
  background-color: rgb(8, 8, 8);
  border: none;
  color: white;
  font-family: manrope;
  font-size: 32px;
  font-weight: 600;
  width: 250px;
  height: 40px;
  padding: 4px;
}

/* Styling for contact entry div */
.contacts {
  display: flex;
  flex-direction: column;
}

/* Styling for contact alphabet groupings */
.alphabet-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

/* Styling for contact alphabet header */
.alphabet-header {
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 2px;
  color: rgb(137, 137, 137);
  border-bottom: solid rgba(93, 90, 90, 0.66) 0.5px;
}

/* Styling for each contact entry */
.contact-entry {
  padding: 8px;
  font-size: 16px;
  border-bottom: solid rgb(93, 90, 90, 0.66) 0.5px;
}

.contact-entry:hover {
  cursor: pointer;
}

.contact-entry:active {
  background-color: rgb(49, 44, 44);
}

@media only screen and (min-width: 800px) {
  /* Styling for header buttons div */
  .contact-header-buttons {
    padding: 20px 0 5px;
  }

  /* Styling for list page link */
  .list-link {
    font-size: 40px;
    font-weight: 400;
  }

  /* Styling for "add contact" button */
  .add-contact-img {
    width: 55px;
    height: 55px;
  }

  /* Styling for header edit button */
  .edit-button {
    width: 50px;
    height: 50px;
    margin-right: 12px;
  }

  /* Styling for header div */
  .contact-header-div {
    padding: 20px 0;
  }

  /* Styling for header */
  .contact-header {
    font-size: 42px;
    width: 400px;
  }

  /* Styling for contact alphabet groupings */
  .alphabet-group {
    margin-bottom: 40px;
  }

  /* Styling for contact alphabet header */
  .alphabet-header {
    font-size: 28px;
  }

  /* Styling for each contact entry */
  .contact-entry {
    padding: 12px;
    font-size: 24px;
    border-bottom: solid rgb(93, 90, 90, 0.66) 0.5px;
  }
}